<p><%= comment.body %> <i>by</i> <%= comment.commenter %></p>
<%= link_to 'delete', comment.commentable_type == 'Article' ? article_comment_path(@commentable, comment) : about_me_comment_path(comment),
            method: :delete,
            data: { confirm: 'Are you sure?'} %>
