<h1>Hello! Hello!</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<%= link_to 'About Me', controller: 'about_mes', action: 'show' %>
<%= link_to "Today's Articles", todays_articles_path %>
<%= link_to "Articles With Comments by Nash", articles_with_comments_by_path('nash') %>
